@use "../../abstracts/colors";

$borderRadius: 25px;

.card {
    
    height: 17.2rem;
    width: 12.5rem;
    border-radius: $borderRadius;

    color: colors.$light;
    background-color: colors.$light_opaque;
    text-align: center;

    img {
        position: relative;
        top: 1em;
        width: 10em;
        height: 10em;
        border-radius: $borderRadius;
        object-fit: contain;
    }

    .labelContainer {
        position: relative;
        bottom: -3em;
    }

    transition: 0.2s;
    &:hover {background-color: colors.$light_gray;}

  }