@use '../abstracts/colors';

.sideBar {
  height: 100%;
  outline: 1px solid colors.$light_gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

  .socialMediaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
